* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  background: #cccccc;
}

.container{
  display: flex;
}

.container-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

